@{
    ViewBag.Title = "Home Page";
}
<!-- slider -->
<div class="news-slider border-radius">
    <div id="slider-one" class="owl-carousel">
        <!-- each item -->
       
      @Html.Action("ShowNewsInSlider","Home")
        <!-- end each item -->
    </div>
    <a href="" class="news-archive"> <i class="icons icon-doc-1"></i> آرشیو کامل خبرها </a>
</div>
<!-- End slider -->

@Html.Action("ShowLatesNews","NewsPage")
<!-- End last news -->
